li {
    list-style: none;
}

body {
margin: 0px;
padding-top: 60px;
    background-color: #1a1b1d;
}

.Header {
    position: fixed;
    display:inline-block;
    top: 0;
    left:0;
    width:100%;
    padding:20px;
    color: white;
    background-color: black;
    z-index: 8;
}

.header_container {
    list-style: none;
    text-align: center;
}

.header_contents{
    display: inline-block;
    padding:10px;
    vertical-align: middle;
}

.Contents {
    left: 0;
    top:0;
    width:100%;
    z-index: 4;
}

.hello_message {
    background-image: url(image/topimage.jpeg);
    width:100%;
    left: 0;
    height:600px;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.title {
    position: absolute;
    font-weight:bold;
    font-size: 3em;
    font-family: Quicksand, sans-serif;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    z-index: 6;
}


.message{
    position: relative;
    text-align: center;
    font-size: 1em;
    font-family: Quicksand, sans-serif;
    color: whitesmoke;
    top:150px;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    z-index: 4;
}


.hello_message::after {
    content: '';
    background-color: rgba(175,150,80,.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.skills {
    position: relative;
    text-align: center;
    top: 220px;
    margin: 0px 0px 100px 0px;
}

.skill {
    display: inline-block;
    width: 20%;
}

#skill_java img{
    width:30%;
}

#skill_python img{
    width:30%;
}

#skill_html img{
    width:30%;
}

#skill_cv img{
    width:30%;
}

#skill_fb img{
    width:30%;
}

.Footer {
    position: fixed;
    display:inline-block;
    bottom: 0;
    left:0;
    width:100%;
    padding:10px;
    color: white;
    background-color: black;
    z-index: 5;
}

.footer_container{
    text-align: center;
    font-size: 0.5em;
}

.footer_contents {
    position: static;
    display: inline-block;
    width:100;
    bottom: 0;
    padding:10px;
    vertical-align: middle;
}